<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body id="newusertemplate">
<form>
  <table>
   <tr>
      <td><font face="verdana" size="2px">First Name:</font></td>
      <td><input type="text" id="fname"></td>
   </tr>
   <tr>
      <td><font face="verdana" size="2px">Last Name:</font></td>
      <td><input type="text" id="lname"></td>
   </tr>
   <tr>
   <tr>
      <td><font face="verdana" size="2px">User Name:</font></td>
      <td><input type="text" id="username"></td>
   </tr>
   <tr>
      <td><font face="verdana" size="2px">Password:</font></td>
      <td><input type="password" id="password"></td>
   </tr>
      <td><font face="verdana" size="2px">Mobile No:</font></td>
      <td><input type="password" id="mno"></td>
   </tr>
   <tr>
      <td><font face="verdana" size="2px">Email Id:</font></td>
      <td><input type="password" id="emailid"></td>
   </tr>
   <tr>
      <td><font face="verdana" size="2px" id='familyname'>Family:</font></td>
      <td> <select>
					  <option value="1">family1</option>
					  <option value="2">family2</option>
					  <option value="3">family3</option>
					  <option value="4">family4</option>
					  <option value="5">family5</option>
					  <option value="6">family6</option>
		  </select> 
	  </td>
   </tr>
   
  </table>
      <input type="submit" value="Add User" id="addnewuser">
</form>
</body>
</html>